<%= form_for(@bg_measurement) do |f| %>
  <% if @bg_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bg_measurement.errors.count, "error") %> prohibited this bg_measurement from being saved:</h2>

      <ul>
      <% @bg_measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class>
    <%= f.text_field :mg_dl %>
  </div>
  <div class>
    <%= f.text_area :notes %>
  </div>
  <div class>
    <%= f.text_field :patient_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
