<%= line_chart(@bg_measurements.all.map {|r| [r.created_at, r.mg_dl]}) %>

<h1>Blood Sugar Readings</h1>

<table>
  <thead>
    <tr>
      <th>mg/dL</th>
      <th>Notes</th>
      <th>Patient</th>
    </tr>
  </thead>

  <tbody>
    <% @bg_measurements.each do |bg_measurement| %>
      <tr>
        <td><%= bg_measurement.mg_dl %></td>
        <td><%= bg_measurement.notes %></td>
        <td><%= bg_measurement.patient_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'Add New Reading', new_bg_measurement_path %></p>
