<h1>Listing bg_measurements</h1>

<table>
  <thead>
    <tr>
      <th>Mg dl</th>
      <th>Notes</th>
      <th>Patient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bg_measurements.each do |bg_measurement| %>
      <tr>
        <td><%= bg_measurement.mg_dl %></td>
        <td><%= bg_measurement.notes %></td>
        <td><%= bg_measurement.patient %></td>
        <td><%= link_to 'Show', bg_measurement %></td>
        <td><%= link_to 'Edit', edit_bg_measurement_path(bg_measurement) %></td>
        <td><%= link_to 'Destroy', bg_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bg measurement', new_bg_measurement_path %>
