<% unless current_user %>
  <div style="text-align: center;">
	  <h2>Welcome to the Blood Sugar Cloud</h2>
	  <%= link_to "Create an Account",  signup_path, :class => "button success round" %><br/>
	  <%= link_to "Log In", login_path, :class => "button success round" %>
  </div>
<% else %>
	<h3 style="text-align: center;"><%= current_user.name %> BG Readings</h3>
	<%# scatter_plot_library_options = {:xAxis => {:type => "datetime"}} %>
	<h5><%= "#{@bg_measurements.count} Total Measurements" %></h5>
	<%= line_chart(@bg_measurements.all.map {|r| [(r.measurement_time - 3.hours), r.mg_dl]}, :max => 400, :height => 40) %>

	<%= link_to 'Add New Reading', new_bg_measurement_path, :class => 'button success round' %>
	<%= link_to "Upload OneTouch CSV Data", upload_csv_path, :class => "button success round" %>
	<h2>Times of Day Most Studied</h2>
	<%= pie_chart @bg_measurements.group(:time_of_day).count %>
	<h2>All Measurements</h2>
	<%= pie_chart @bg_measurements.group(:bg_assessment).count %>
		<%	BgMeasurement::TIMES_OF_DAY.each do |time_of_day| %>
			<h3><%= time_of_day %></h3>
			<%= pie_chart @bg_measurements.where(:time_of_day => time_of_day).group(:bg_assessment).count  %>
		<% end %>	
		<h3>Blood Sugar Readings</h3>
		<table>
		  <thead>
		    <tr>
		      <th>mg/dL</th>
		      <th>Notes</th>
		      <th>Patient</th>
			  <th>Time of Reading</th>
			  <th>Time Classification</th>
			  <th>BG Assessment</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @bg_measurements.each do |bg_measurement| %>
		      <tr>
		        <td><%= bg_measurement.mg_dl %></td>
		        <td><%= bg_measurement.notes %></td>
		        <td><%= bg_measurement.user.name %></td>
				<td><%= bg_measurement.measurement_time.strftime("%l:%M %p, %B %e, %Y %Z") %>
				<td><%= bg_measurement.time_of_day %>
				<td><%= bg_measurement.bg_assessment %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
<% end%>