<% unless current_user %>
  <div style="text-align: center;">
	  <h2>Welcome to the Blood Sugar Cloud</h2>
	  <%= link_to "Create an Account",  signup_path, :class => "button success round" %><br/>
	  <%= link_to "Log In", login_path, :class => "button success round" %>
  </div>
<% else %>
	<h3 style="text-align: center;"><%= current_user.name %> BG Readings</h3>
	<%= line_chart(@bg_measurements.all.map {|r| [(r.created_at - 3.hours), r.mg_dl]}) %>

	<h3>Blood Sugar Readings</h3>

	<table>
	  <thead>
	    <tr>
	      <th>mg/dL</th>
	      <th>Notes</th>
	      <th>Patient</th>
		  <th>Time of Reading</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @bg_measurements.each do |bg_measurement| %>
	      <tr>
	        <td><%= bg_measurement.mg_dl %></td>
	        <td><%= bg_measurement.notes %></td>
	        <td><%= bg_measurement.user.name %></td>
			<td><%= bg_measurement.created_at.strftime("%l:%M %p, %B %e, %Y %Z") %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<p><%= link_to 'Add New Reading', new_bg_measurement_path, :class => 'button success round' %></p>
<% end%>