<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>  	
    <%= csrf_meta_tags %>
  </head>
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to "Blood Sugar Cloud", bg_measurements_path %></h1>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				
			</ul>
		</section>
	</nav>  
  <body>
	<p id="notice"><%= notice %></p>		  
	<div class="row">
		<%= yield %>		
	</div>

	  
  </body>
</html>