<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>bloodsugarcloud.com</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%# javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "highcharts", "chartkick" %>  	
    <%= csrf_meta_tags %>
  </head>
	<nav class="top-bar" data-topbar-role='navigation'>
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to "Blood Sugar Cloud", bg_measurements_path %></h1>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<% if current_user %>
					<li><%= link_to "Log Out", logout_path %></li>
				<% else %>
					<li><%= link_to "Register", signup_path %></li>
					<li><%= link_to "Sign In", login_path %></li>
				<% end %>
			</ul>
		</section>
	</nav>  
	<script>
		$(document).on('ready page:load', function () {
			$(document).foundation();
		});	
	</script>	
  <body>
	<p id="notice"><%= notice %></p>		  
	<div class="row">
		<%= yield %>		
	</div>

  <footer class="footer">
    <div class="row full-width">
      <center>
        <p>Disclaimer: This is a digital aid and is not intended to be the primary means of tracking your blood glucose data.</p>
        <p><strong>Powered by David Douglas and Boyd Lever</strong></p>
         
      </center>
    </div>
  </footer>	  
  </body>
</html>
